<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="overview"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                ({{rating}})
            </ion-card-subtitle>
            <ion-card-title>{{product?.shortDescription}} - <small>{{product?.price}} Chf</small></ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{product?.longDescription}}
        </ion-card-content>

        <ion-slides pager="true" style="height: 100vh;">
            <ion-slide *ngFor="let image of getImagesByProductId()">
                <img src="{{image}}">
            </ion-slide>
        </ion-slides>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button style="text-transform:none" expand="block" (click)="addToCart(product?.productId)">
            <ion-icon name="add-circle"></ion-icon>
            Zum Warenkorb hinzufügen
        </ion-button>
    </ion-toolbar>
</ion-footer>
