<ion-header>
    <ion-toolbar>
        <ion-title>Warenkorb</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of itemsInCart">

            <ion-item lines="inset">
                {{ item.count }} x {{ item.product.name }} - {{ item.product.price | currency:'CHF':'symbol' }}
                <ion-label slot="end" text-right>{{ calculateTotalOfRow(item) | currency:'CHF':'symbol' }}</ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="dropProductFromCart(item.product.productId)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>

            </ion-item-options>
        </ion-item-sliding>

        <ion-item>
            <b>Total</b> <span slot="end">{{ calculateTotal() | currency:'CHF':'symbol' }}</span>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" (click)="checkout()"> Kaufen</ion-button>
    </ion-toolbar>
</ion-footer>
